#footer {
    .container {
        .row {
            .footer-body-text {
                @include FontVsFontWeight(21px, 600);
            }
            .footer-list {
                list-style-type: none;
                li {
                    display: flex;
                    align-items: baseline;
                    a {
                        color: rgb(85, 85, 85);
                        font-weight: 600;
                    }
                }
            }
        }
    }
}