header {
    @include width(100%);
    background: $bghr;
    background: $Gradientbghr;
    .container {
        @include padding(0px);
        .navbar-toggler {
            color: $WhiteColor;
            border: 2px solid $WhiteColor;
        }
        .navbar-nav {
            display: flex;
            justify-content: center;
            .nav-item {
                .nav-link {
                    color: $WhiteColor;
                    font-weight: 500;
                    @include padding(0 15px);
                    @media only screen and (max-width: 979px) {
                        text-align: center;
                        @include padding(10px 0px);
                    }
                }
            }
        }
    }
    form {
        .btn-outline-light {
            color: $WhiteColor;
            @include padding(10px 35px);
            border: 2px solid;
            &:hover {
                color: $BlueColor;
            }
        }
    }
}

#banner {
    h2 {
        @include FontVsFontWeight(39px, 700);
        @include mgt(150px);
    }
    .banner-img {
        img {
            display: block;
            @include mgl(auto);
            @include mgr(auto);
        }
        @media only screen and (max-width: 979px) {
            @include mgr(0px);
        }
    }
}