$WhiteColor: #fff;
$GrayColor: #f7f8f9;
$BlueColor: #0084ca;
$bghr:rgb(11, 139, 209);
$Gradientbghr:linear-gradient(90deg, rgba(11, 139, 209, 1) 0%, rgba(49, 181, 249, 1) 100%);
$bgse:rgb(0, 133, 202);
$Gradientbgse: linear-gradient(45deg, rgba(0, 133, 202, 1) 0%, rgba(61, 182, 74, 1) 100%);